{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .cards-container {

            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .card {
            flex: 1 0 18rem;
        }
    </style>
    <style>
    body {
        background-image: url("../media/pexels-pixabay-326333.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

    <div class="cards-container custom-home">
        {% for book in books %}
            <div class="card">
                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.image.url }}">
                <div class="card-body">
                    <h5 class="card-title custom-title">{{ book.title }}</h5>
                    <p class="card-text custom-text">{{ book.description }}</p>
                    <p class="card-text">{{ book.lang }}</p>

                    <a href="{% url 'book_detial' book.id %}" class="button">More</a>


                    <style>
                        .button {
                            background-color: #001cff;
                            border: none;
                            color: white;
                            padding: 12px 24px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            font-family: Arial, sans-serif;
                            border-radius: 5px;
                        }
                    </style>
                </div>
            </div>
        {% endfor %}
    <div>

{% endblock %}